<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sql문, crud정의 -->
<mapper namespace="cart">

	<insert id="insert" parameterType="cartVO">
		insert into CART values (#{mid}, #{pid}, #{price}, #{pcount})
	</insert>
	
</mapper>
