<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	<insert id="insert" parameterType="mypageVO"> 
		insert into MYPAGE (USERID, PNUM, LIKED, TIME2) values (#{userid}, #{pnum}, #{liked}, sysdate)
	</insert>
<!-- 	
	<select id="all" parameterType="mypageVO"  resultType="mypageVO">
	ORM(Object RDB Mapping)
    mypageVO에 컬럼명과 동일한 변수를 찾아서 set메서드로 값을 넣어줌.
		select * from MYPAGE where ID = #{ID}
	</select>
-->	 
	<select id="select" parameterType="String"  resultType="mypageVO">
		select * from MYPAGE where userid = #{userid}
	</select> 
	
	<select id="select2" parameterType="String"  resultType="mypageVO">
		select * from MYPAGE where userid = #{userid} AND liked = '1'
	</select> 
	
	<update id="update" parameterType="mypageVO">
		UPDATE MYPAGE SET liked = #{liked} where userid = #{userid} AND pnum = #{pnum}
	</update> 
	
	<!-- 찜한상품 삭제 -->
	<delete id="delete" parameterType="mypageVO">
    	delete from MYPAGE where userid = #{userid} and pnum = #{pnum}
    </delete>
    
    <select id="check" parameterType="mypageVO" resultType="mypageVO">
    	select * from MYPAGE where userid = #{userid} and pnum = #{pnum}
    </select>
    
    <select id="recentselect" parameterType="mypageVO" resultType="mypageVO">
    	select * from MYPAGE where pnum = #{pnum}
    </select>

	
</mapper>