<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qna">

	<insert id="insert" parameterType="qnaVO"><!-- memberVO는 mybatis-config.xml 파일의 alias="memberVO" 이랑 일치시켜줌. -->
		insert into QNA values (qna_seq.nextval, #{qtype}, #{qtitle}, #{qcontents}, sysdate, #{userid})
		<!-- <selectKey keyProperty="qid" resultType="Integer" order="AFTER"> SELECT LAST_INSERT_ID() </selectKey> -->
	</insert>
	<delete id="delete" parameterType="String">
		delete from QNA where qid = #{qid}
	</delete>
	<delete id="adelete" parameterType="String">
		delete from QNA where qid = #{qid}
	</delete>
	<update id="update" parameterType="qnaVO" >
		update QNA set qcontents = #{qcontents}, qtitle = #{qtitle} where qid = #{qid}
	</update>
	<select id="select" resultType="qnaVO" parameterType="qnaVO"> 
		select * from QNA where qid = #{qid}
		<!-- SELECT * FROM QNA q WHERE ROWNUM = 1 ORDER BY QID DESC -->
		<!-- 내림차순 -> 가장위에 row1개 => 가장 마지막에 저장된 데이터값을 불러올때 -->
	</select>
	<select id="selectid" resultType="qnaVO" parameterType="qnaVO">
		SELECT * FROM QNA q LEFT JOIN REPLY r ON (r.QID = q.QID) WHERE userid = #{userid} ORDER BY q.QID DESC
	</select>
	<select id="qall" resultType="qnaVO"> 
		SELECT * FROM QNA q LEFT JOIN REPLY r ON (r.QID = q.QID) WHERE userid = #{userid} ORDER BY q.QID DESC
		<!-- 내림차순으로 바꾼 후 위에서부터 row 10개-->
	</select>
</mapper>
